{% extends 'admin-base.html' %}
{% load static %}

{% block tittle %} Users | New User {% endblock %}


{% block navbar %}
<li class="nav-item">
    <a class="nav-link text-white opacity-10" href="/admin/dashboard">
        <div class="icon icon-shape icon-sm border-radius-md text-center d-flex align-items-center justify-content-center">
            <svg width="16px" height="16px" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3 4C3 3.44772 3.44772 3 4 3H16C16.5523 3 17 3.44772 17 4V6C17 6.55228 16.5523 7 16 7H4C3.44772 7 3 6.55228 3 6V4Z"
                    class="color-background"></path>
                <path
                    d="M3 10C3 9.44771 3.44772 9 4 9H10C10.5523 9 11 9.44771 11 10V16C11 16.5523 10.5523 17 10 17H4C3.44772 17 3 16.5523 3 16V10Z"
                    class="color-background"></path>
                <path
                    d="M14 9C13.4477 9 13 9.44771 13 10V16C13 16.5523 13.4477 17 14 17H16C16.5523 17 17 16.5523 17 16V10C17 9.44771 16.5523 9 16 9H14Z"
                    class="color-background"></path>
            </svg>
        </div>
        <span class="nav-link-text ms-2">Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-white opacity-10 active" href="javascript:;">
        <div class="icon icon-shape icon-sm border-radius-md text-center d-flex align-items-center justify-content-center">
            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9 3.5C9 5.43299 7.43299 7 5.5 7C3.56701 7 2 5.43299 2 3.5C2 1.56701 3.56701 0 5.5 0C7.43299 0 9 1.56701 9 3.5Z"
                    fill="white" class="color-background"></path>
                <path
                    d="M18 3.5C18 5.43299 16.4331 7 14.5 7C12.5669 7 11 5.43299 11 3.5C11 1.56701 12.5669 0 14.5 0C16.4331 0 18 1.56701 18 3.5Z"
                    fill="white" class="color-background"></path>
                <path
                    d="M13.5245 15C13.5744 14.619 13.6002 14.2294 13.6002 13.8333C13.6002 11.9256 13.0021 10.1707 12 8.78062C12.7844 8.28408 13.6953 8 14.6668 8C17.6122 8 20 10.6117 20 13.8333V15H13.5245Z"
                    fill="white" class="color-background"></path>
                <path d="M5.5 8C8.53756 8 11 10.6117 11 13.8333V15H0V13.8333C0 10.6117 2.46244 8 5.5 8Z" 
                fill="white" class="color-background"></path>
            </svg>
        </div>
        <span class="nav-link-text ms-2">Users</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-white opacity-10" href="/admin/rooms">
        <div class="icon icon-shape icon-sm border-radius-md text-center d-flex align-items-center justify-content-center">
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.5703 4.13281L10.4297 0.617188C10.2734 0.539062 10.1172 0.539062 10 0.539062C9.84375 0.539062 9.6875 0.539062 9.53125 0.617188L0.390625 4.13281C0.15625 4.21094 0 4.44531 0 4.71875V6.125C0 6.47656 0.273438 6.75 0.625 6.75H19.375C19.6875 6.75 20 6.47656 20 6.125V4.71875C20 4.44531 19.8047 4.21094 19.5703 4.13281ZM2.5 8V14.25H1.875C1.52344 14.25 1.25 14.5625 1.25 14.875V16.75H18.75V14.875C18.75 14.5625 18.4375 14.25 18.125 14.25H17.5V8H15V14.25H11.25V8H8.75V14.25H5V8H2.5ZM19.375 18H0.625C0.273438 18 0 18.3125 0 18.625V19.875C0 20.2266 0.273438 20.5 0.625 20.5H19.375C19.6875 20.5 20 20.2266 20 19.875V18.625C20 18.3125 19.6875 18 19.375 18Z"
                    fill="white" class="color-background"></path>
            </svg>
        </div>
        <span class="nav-link-text ms-2">Rooms</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link text-white opacity-10" href="/admin/bookings">
        <div class="icon icon-shape icon-sm border-radius-md text-center d-flex align-items-center justify-content-center">
            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.71875 8C0.445312 8 0.25 8.23438 0.25 8.46875V18.625C0.25 19.6797 1.07031 20.5 2.125 20.5H15.875C16.8906 20.5 17.75 19.6797 17.75 18.625V8.46875C17.75 8.23438 17.5156 8 17.2812 8H0.71875ZM17.75 6.28125V4.875C17.75 3.85938 16.8906 3 15.875 3H14V0.96875C14 0.734375 13.7656 0.5 13.5312 0.5H11.9688C11.6953 0.5 11.5 0.734375 11.5 0.96875V3H6.5V0.96875C6.5 0.734375 6.26562 0.5 6.03125 0.5H4.46875C4.19531 0.5 4 0.734375 4 0.96875V3H2.125C1.07031 3 0.25 3.85938 0.25 4.875V6.28125C0.25 6.55469 0.445312 6.75 0.71875 6.75H17.2812C17.5156 6.75 17.75 6.55469 17.75 6.28125Z"
                    fill="white" class="color-background"></path>
            </svg>
        </div>
        <span class="nav-link-text ms-2">Bookings</span>
    </a>
</li>
{% endblock %}

{% block tag %}USERS{% endblock %}

{% block profile_link %}href="/admin/my-profile/"{% endblock %}
{% block message_link %}href="{% url 'all_notifications' %}"{% endblock %}

{% block content %}
<div class="top-0 bg-cover z-index-n1 min-height-100 max-height-200 h-25 position-absolute w-100 start-0 end-0"
    style="background-image: url('https://res.cloudinary.com/devqjzqxb/image/upload/v1715779079/design3/jq0wrzj99k1hjhvxxymz.jpg'); background-position: bottom;">
</div>
<div class="px-5 py-4 container-fluid">
    <div class="mt-7 row">
        <div class="col-lg-6">
            <div class="border border-4 border-gray-100 avatar avatar-2xl rounded-circle position-relative mt-n7">
                <img src="https://res.cloudinary.com/devqjzqxb/image/upload/v1715779076/design3/pcqcgzowqxqbnc71cbz2.webp" alt="profile_image" class="w-100">
            </div>
            <h4>Fill up the form</h4>
        </div>
    </div>
    <hr class="horizontal dark">
    <div class="mt-4 row">
        <div class="col-lg-5">
            {% if error_message %}
            <div class="alert alert-danger" role="alert">
                {{ error_message }}
            </div>
            {% endif %}
            {% for error in form.first_name.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% for error in form.last_name.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% for error in form.email.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% for error in form.username.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% for error in form.password1.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% for error in form.password2.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
            {% for error in form.profile_image.errors %}
            <div class="alert alert-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="col-lg-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="font-weight-bolder">User Information</h5>
                    <form role="form" method="post" enctype="multipart/form-data" onsubmit="load(event)">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.first_name.label_tag }}
                                    {{ form.first_name }}
                                </div>
                                
                                <div class="mb-3">
                                    {{ form.last_name.label_tag }}
                                    {{ form.last_name }}
                                </div>
                                
                                <div class="mb-3">
                                    {{ form.email.label_tag }}
                                    {{ form.email }}
                                </div>

                                <div class="mb-3">
                                    {{ form.profile_image.label_tag }}
                                    {{ form.profile_image }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    {{ form.username.label_tag }}
                                    {{ form.username }}
                                </div>
                                
                                <div class="mb-3">
                                    {{ form.password1.label_tag }}
                                    {{ form.password1 }}
                                </div>
                                
                                <div class="mb-3">
                                    {{ form.password2.label_tag }}
                                    {{ form.password2 }}
                                </div>
                            </div>
                        </div>
                        <div class="justify-content-center">
                            <button type="submit" class="mt-2 mb-0 btn btn-dark">
                                <svg class="me-1" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.39341 7.20504C5.12004 6.93167 4.67683 6.93167 4.40346 7.20504C4.1301 7.47839 4.1301 7.92163 4.40346 8.19498L6.50346 10.295C6.77683 10.5683 7.22006 10.5683 7.49341 10.295L9.59341 8.19498C9.86676 7.92163 9.86676 7.47839 9.59341 7.20504C9.32006 6.93167 8.87682 6.93167 8.60347 7.20504L7.69844 8.11007V4.20001H11.1984C11.9717 4.20001 12.5984 4.82681 12.5984 5.60001V10.5C12.5984 11.2732 11.9717 11.9 11.1984 11.9H2.79844C2.02524 11.9 1.39844 11.2732 1.39844 10.5V5.60001C1.39844 4.82681 2.02524 4.20001 2.79844 4.20001H6.29844V8.11007L5.39341 7.20504Z"
                                        fill="#F9FAFB" />
                                    <path
                                        d="M6.30078 2.79998C6.30078 2.41338 6.61419 2.09998 7.00078 2.09998C7.38739 2.09998 7.70078 2.41338 7.70078 2.79998V4.19998H6.30078V2.79998Z"
                                        fill="#F9FAFB" />
                                </svg>
                                Save
                            </button>
                            <a type="submit" class="mt-2 mb-0 btn btn-danger text-end" href="/admin/users/">
                                <svg class="me-1" width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.39341 7.20504C5.12004 6.93167 4.67683 6.93167 4.40346 7.20504C4.1301 7.47839 4.1301 7.92163 4.40346 8.19498L6.50346 10.295C6.77683 10.5683 7.22006 10.5683 7.49341 10.295L9.59341 8.19498C9.86676 7.92163 9.86676 7.47839 9.59341 7.20504C9.32006 6.93167 8.87682 6.93167 8.60347 7.20504L7.69844 8.11007V4.20001H11.1984C11.9717 4.20001 12.5984 4.82681 12.5984 5.60001V10.5C12.5984 11.2732 11.9717 11.9 11.1984 11.9H2.79844C2.02524 11.9 1.39844 11.2732 1.39844 10.5V5.60001C1.39844 4.82681 2.02524 4.20001 2.79844 4.20001H6.29844V8.11007L5.39341 7.20504Z"
                                        fill="#F9FAFB" />
                                    <path
                                        d="M6.30078 2.79998C6.30078 2.41338 6.61419 2.09998 7.00078 2.09998C7.38739 2.09998 7.70078 2.41338 7.70078 2.79998V4.19998H6.30078V2.79998Z"
                                        fill="#F9FAFB" />
                                </svg>
                                Cancel
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="pt-5 pb-1 mt-auto footer">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="text-sm text-center copyright text-md-start">
                        Copyright © 2024 <a class="text-sm text-body ms-1">Hotel Reservation</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="text-white nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a class="text-sm nav-link text-body" target="_blank">By Aileen Guigue</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}