{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aileen Guigue hotel | Sign-in</title>
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Noto+Sans:300,400,500,600,700,800|PT+Mono:300,400,500,600,700"
        rel="stylesheet" />
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/349ee9c857.js" crossorigin="anonymous"></script>
    <link id="pagestyle" href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

<body>
    <main class="main-content mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="mx-auto col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0">
                            <form role="form" method="post" onsubmit="load(event)" onsubmit="load(event)">
                            <div class="border-0 card card-plain">
                                <div class="pb-0 card-header text-start">
                                    {% if error_message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ error_message }}
                                    </div>
                                    {% endif %}
                                    <h4 class="font-weight-bolder">Sign in</h4>
                                    <p class="mb-0">Enter your username and password to sign in</p>
                                </div>
                                <div class="card-body">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            {{ form.username.label_tag }}
                                            {{ form.username }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password.label_tag }}
                                            {{ form.password }}
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="mt-4 mb-0 btn btn-lg btn-dark w-100">Sign in</button>
                                        </div>
                                </div>
                            </div>
                            </form>
                        </div>
                        <div
                            class="top-0 my-auto text-center col-6 d-lg-flex d-none h-100 pe-0 position-absolute end-0 justify-content-center flex-column">
                            <div class="position-relative bg-gradient-primary h-100 px-7 d-flex flex-column justify-content-center"
                                style="background-image: url('https://res.cloudinary.com/devqjzqxb/image/upload/v1718338356/design3/cxc5xk2schwjn2qmgfpk.avif'); background-position: 50%;">
                                <div
                                    class="p-5 mt-auto mb-4 border border-white shadow mx-n5 blur position-relative z-index-1 d-flex flex-column border-radius-md">
                                    <h4 class="mt-5 opacity-10 text-dark font-weight-bolder">"Welcome to an Unforgettable Experience"</h4>
                                    <p class="text-dark">At our hotel, we understand that attention to detail is the key to creating memorable experiences. Our thoughtfully curated activities are designed to captivate and engage, ensuring that every moment of your stay is extraordinary. From the thrill of jet skiing to the serene beauty of snorkeling, and the exploration of hidden islands, we offer a range of adventures that cater to all interests.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="pt-5 pb-1 mt-auto footer">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-6">
                    <div class="text-sm text-center copyright text-md-start">
                        Copyright © 2024 <a class="text-sm text-body ms-1">Hotel Reservation</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="text-white nav nav-footer justify-content-center justify-content-lg-end">
                        <li class="nav-item">
                            <a class="text-sm nav-link text-body" target="_blank">By Aileen Guigue</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
        function load(event) {
            event.preventDefault();
            event.target.submit();
            Swal.fire({
                title: "<i>PLEASE WAIT</i>",
                html: `<div class="spinner-border" role="status"><span class="sr-only">Please Wait</span></div>`,
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: false,
                showConfirmButton: false,
            })
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/swiper-bundle.min.js' %}" type="text/javascript"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>